# Add any directories, files, or patterns you don't want to be tracked by version control

# Visual Studio Build Artifact Directories
**/bin/
**/.vs/
**/obj/
**/Debug/
**/Release/

# Visual Studio Build Local Build Files
*.sln
*.csproj
*.csproj.user
*.msi
*.exe

# Dan's Visual Studio Directory
**/AI Group Project - Checkers/

*.classpath
*.project